/* CSS Portfolio Sara Claeys */

@import "reset.css";
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600&display=swap');
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";

body {
    font: 300 100%/1.6 Raleway, Arial, sans-serif;
    background: #F1F1F1F1;
    text-align: center;
    overflow-x: hidden;
}

/*-------------------- main header ------------------*/
.mainheader {
    background: black url(../images/banner.jpg) left/cover no-repeat fixed;
}

.mainheader .overlay {
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #F1F1F1F1;
    height: 100vh;
}

h1 {
    font: 300 2.5rem/1.6 Raleway, Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: .2em;
    padding: .5em 1em .8em;
    line-height: normal;
}

.overlay p {
    font: 300 1rem/1.6 Raleway, Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: .6em;
    padding: 1em;
}

/*-------------------- arrow down------------------*/
#arrow-down a {
    padding-top: 70px;
    position: absolute;
    bottom: 35px;
}

#arrow-down a span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: arrow 1.5s infinite;
    animation: arrow 1.5s infinite;
    box-sizing: border-box;
}

@-webkit-keyframes arrow {
    0% {
        -webkit-transform: rotate(-45deg) translate(0, 0);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        -webkit-transform: rotate(-45deg) translate(-20px, 20px);
        opacity: 0;
    }
}

@keyframes arrow {
    0% {
        transform: rotate(-45deg) translate(0, 0);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: rotate(-45deg) translate(-20px, 20px);
        opacity: 0;
    }
}

/*-------------------- main navigation------------------*/
.nav-container {
    background: #030303;
}

a[href="#menu"] {
    width: 60px;
    top: 10px;
    right: 10px;
    z-index: 1000;
    display: inline-block;
    color: #F1F1F1F1;
    font: 100 1.5rem/60px Raleway, Arial, sans-serif;
    transition: all 500ms;
}

a[href="#menu"]:hover {
    background: #222A10;
}

.mainnav {
    position: fixed;
    z-index: 900;
    top: 500;
    right: 500;
}

.links {
    background: rgba(0, 0, 0, 0.8);
    padding: 1em 10px;
    transition: right 500ms ease-in-out;
}

.links a {
    display: block;
    background: #030303;
    padding: 1em;
    margin-bottom: .5em;
    color: #F1F1F1F1;
    text-decoration: none;
    transition: all 500ms;
}

.links a:hover {
    background: #222A10;
}

.open {
    right: 0;
}